
<footer id="footer" class=" text-center overlay" style="background-image: url(/images/{{ site.default_bg }})"> <!--style="background: rgba(25, 25, 24, 1);">-->

    <div class="inner">
        <div class="container">
            <div>
                <a href="/about/">Crabb Designs</a> &copy; {{ site.time | date: '%Y' }} &bull;
                All rights reserved.
            </div>
            <ul style="margin: 0;">
                {% for link in site.links %}
                <li style="list-style-type: none; display: inline;">
                    {% if link.external %}
                    <a href="{{ link.url }}" target="_blank">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i> {% else %} {{ link.title }}{% endif %} </a>&nbsp;&bull;
                    {% else %}
                    <a href="{{ link.url }}#sidebar">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i>{% else %}{{ link.title }}{% endif %}</a>&nbsp;&bull;
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

</footer>
